

<% @items.each do |item| %>
  <div class="item">
    <a href="<%= item.url %>"></a>
    <img src="<%= item.image_url %>" onload="this.width/=2;this.onload=null;">
    <span class="text-content">&#x2715;<span><%= item.title %></span></span>
    <br>
    <p class="visuallyhidden"><%= item.title %></p>
  </div>
<% end %>
