 <script type="template" id="item-html">
    <div class="item">

      <img src="<%%= item.get('image_url') %>" onload="this.width/=3;this.onload=null;">
      <span class="text-content"><span class="remove">&#x2715;</span><span class="title"><a href="<%%= item.get('url') %>"><%%= item.get('title') %></a></span></span>
    </div>
  </script>
