 <script type="template" id="item-html">
    <div class="item">

      <img src="<%%= item.get('image_url') %>" onload="this.width/=3;this.onload=null;">
      <span class="text-content"><span class="remove">&#x2715;</span><span class="title"><a href="<%%= item.get('url') %>"><%%= item.get('title') %></a></span><span class="date">Wished for on <%%= item.get('created_at').substring(5,10).split("-").join("/") + "/" + item.get('created_at').substring(0,4) %></span></span>
    </div>
  </script>
